@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

/*  */
/* clear */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.clear_b:before {
  content: " ";
  display: table;
  clear: both;
}

/*    */
@font-face {
  font-family: "Homestead";
  src: url('../fonts/Homestead-Regular.ttf?1503498511') format('truetype');
}
@font-face {
  font-family: "CoffeeService";
  src: url('../fonts/CoffeeService.otf?1503498511') format('opentype');
}
/* arrows */
.b-slick-nav {
  position: absolute;
  width: 17px;
  height: 25px;
  display: inline-block;
  background: url(../images/sprites.png) no-repeat;
  z-index: 1;
  cursor: pointer;
}

.b-slick-nav_left-arrow {
  background-position: -17px -13px;
}

.b-slick-nav_right-arrow {
  background-position: -69px -13px;
}

/* arrows_slider */
.b-slick-nav_slider {
  top: 46%;
}

.b-slick-nav_slider-left-arrow {
  left: -6%;
}

.b-slick-nav_slider-right-arrow {
  right: -6%;
}

/* arrows_news */
.b-slick-nav_news {
  top: 39%;
}

.b-slick-nav_news-left-arrow {
  left: -9%;
}

.b-slick-nav_news-right-arrow {
  right: -9%;
}

/*dots */
.b-slick-nav-dot {
  position: absolute;
  bottom: 3.5%;
  z-index: 2;
  display: block;
  width: 100%;
  text-align: center;
}
.b-slick-nav-dot li {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0px 2.7px;
  cursor: pointer;
}
.b-slick-nav-dot li button {
  display: block;
  outline: none;
  font-size: 0px;
  line-height: 0;
  color: transparent;
  cursor: pointer;
  padding: 0;
  width: 9px;
  height: 9px;
  background-color: #fff;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), inset 0 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), inset 0 1px rgba(255, 255, 255, 0.75);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), inset 0 1px rgba(255, 255, 255, 0.75);
  border: solid 1px rgba(194, 194, 194, 0.8);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.07)), color-stop(100%, rgba(255, 255, 255, 0.07)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07));
}
.b-slick-nav-dot li button:hover, .b-slick-nav-dot li button:focus {
  outline: none;
}
.b-slick-nav-dot li button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #42a0a6;
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.26);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.26);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.26);
  border: solid 1px #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  opacity: 0;
}
.b-slick-nav-dot li.slick-active button:before {
  opacity: 1;
}

/* panels */
.b-holder-trans {
  background-color: rgba(247, 247, 247, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  border: solid 1px rgba(194, 194, 194, 0.8);
}

.b-caption-holder {
  margin: 15px 0;
  text-align: center;
}

.b-caption {
  font: 14px Homestead, Arial, Helvetica, sans-serif;
  color: #909090;
}

.b-section-inner {
  margin: 0 1.1% 1.1%;
  /* 10px */
}

/* buttons */
.b-button-main {
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 2px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 2px rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 2px rgba(255, 255, 255, 0.6);
  border: solid 1px #dcdcdc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e7e7e7), color-stop(100%, #f7f7f7));
  background-image: -moz-linear-gradient(bottom, #e7e7e7, #f7f7f7);
  background-image: -webkit-linear-gradient(bottom, #e7e7e7, #f7f7f7);
  background-image: linear-gradient(to top, #e7e7e7, #f7f7f7);
}

.b-button-main__hover:hover {
  color: #333333;
  background-color: rgba(219, 219, 219, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjExIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.11)), color-stop(100%, rgba(255, 255, 255, 0.11)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.11), rgba(255, 255, 255, 0.11));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.11), rgba(255, 255, 255, 0.11));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.11), rgba(255, 255, 255, 0.11));
}

/* shadow */
.b-shadow {
  position: relative;
}
.b-shadow:after {
  content: "";
  display: block;
  position: absolute;
  width: 99.3617021277%;
  /* 934/940*100 */
  height: 5.3125%;
  /* 17/320*100 */
  background: url(../images/shadow.png);
  background-size: 100% 100%;
}

.b-page {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #666666;
  background: #e6e6e6 url(../images/bg.png);
}

.b-page__wrapper {
  max-width: 940px;
  margin: 40px auto 0 auto;
}

.b-page__line {
  height: 5px;
  background: #cacaca;
  margin-top: 0;
}

.b-page__line_bottom {
  height: 14px;
}

/* header */
.b-header {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px rgba(194, 194, 194, 0.8);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(255, 255, 255, 0.15)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.15));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.15));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.08), rgba(255, 255, 255, 0.15));
}

.b-nav-menu__item {
  display: inline-block;
  width: 12.5%;
  text-align: center;
  position: relative;
}

/* logo */
.b-nav-menu__item:nth-child(1) > .b-nav-menu__button {
  display: block;
  font: 31.65px/30px CoffeeService, Helvetica, sans-serif;
  color: dimgray;
  border: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
.b-nav-menu__item:nth-child(1) > .b-nav-menu__button:hover {
  color: dimgray;
  background: none;
  box-shadow: none;
}

.b-nav-menu__button {
  font: 12px/42px Homestead, Arial, Helvetica, sans-serif;
  color: #909090;
  display: block;
  text-shadow: 0 1px #fff;
  border-left: 1px solid white;
  -moz-box-shadow: -1px 0 0 0 gainsboro;
  -webkit-box-shadow: -1px 0 0 0 gainsboro;
  box-shadow: -1px 0 0 0 gainsboro;
}

/* ╨▓╨╗╨╛╨╢╨╡╨╜╨╜╤Л╨╣ ╤Б╨┐╨╕╤Б╨╛╨║ */
.c-nav-sub-menu-active:hover .b-sub-nav-menu_lvl-one {
  opacity: 1;
  visibility: visible;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.b-sub-nav-menu {
  position: absolute;
  width: 98.933901919%;
  /* 116/117,25*100 */
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.4);
}

.b-sub-nav-menu_hidden {
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.3s, visibility 0s linear 0.3s;
  -o-transition: opacity 0.3s, visibility 0s linear 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0s linear;
  -webkit-transition-delay: 0s, 0.3s;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.b-sub-nav-menu__item {
  position: relative;
}

.c-sub-nav-sub-menu-active:hover .b-sub-nav-menu_lvl-two {
  opacity: 1;
  visibility: visible;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.b-sub-nav-menu_lvl-two {
  left: 100.933902%;
  /* 116/117,25*100 */
  top: 0px;
}

.b-sub-nav-menu__link {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  color: #666666;
  display: block;
  padding: 9px 0;
}
.b-sub-nav-menu__link:hover {
  background-color: rgba(219, 219, 219, 0.302);
}

/* adaptive menu button */
.b-nav-button-adaptive {
  display: none;
  text-align: center;
}

.b-nav-button-adaptive_button {
  font-size: 15px;
}

/* slider */
.b-slider {
  background-color: white;
  border: solid 1px rgba(194, 194, 194, 0.8);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), inset 0 1px rgba(255, 255, 255, 0.5), 0px 5px 0px -2.5px white, 0px 5.5px 0px -2.5px #7f7e7e;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), inset 0 1px rgba(255, 255, 255, 0.5), 0px 5px 0px -2.5px white, 0px 5.5px 0px -2.5px #7f7e7e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), inset 0 1px rgba(255, 255, 255, 0.5), 0px 5px 0px -2.5px white, 0px 5.5px 0px -2.5px #7f7e7e;
}

.b-slider__inner {
  margin: 1.4%;
  /* 13px */
  position: relative;
}
.b-slider__inner:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.07)), color-stop(100%, rgba(255, 255, 255, 0.07)));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.07));
  z-index: 1;
}

/* content */
.b-menu__button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.b-menu__button:hover {
  color: #333333;
}

/* img block */
.b-images-inner {
  position: relative;
  display: inline-block;
  margin: 0px 1px 1px 0px;
  background: black;
}

.b-content-info {
  position: absolute;
  left: 12%;
  right: 12%;
  top: 37%;
  bottom: 37%;
  display: none;
}

.b-content-info__link {
  display: block;
  text-align: center;
  font: 12px Homestead, Arial, Helvetica, sans-serif;
  color: black;
  padding: 12px 0;
  background-color: #ffde00;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.75);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.75);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.19)), color-stop(100%, rgba(255, 255, 255, 0.19)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.19), rgba(255, 255, 255, 0.19));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.19), rgba(255, 255, 255, 0.19));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.19), rgba(255, 255, 255, 0.19));
}

/* filter */
.js-mix-target {
  display: none;
}

.js-mix-filter_active {
  color: #333333;
}

/* sidebar */
.b-news__text-box {
  background-color: white;
}

.b-text-wrap {
  padding: 30px 24px 24px;
}

.b-text-content__item {
  padding-right: 20px;
  width: 250px;
  display: inline-block;
  /* old */
}

.b-text-content__title {
  font-weight: bold;
}

.b-text-content__subtitle {
  font-family: Georgia, Times New Roman, Times, serif;
  font-style: italic;
  color: #999999;
}

.b-text-content__section {
  padding: 10px 0;
}

.b-news-button {
  display: inline-block;
  padding: 15px 12px;
  color: #666666;
  line-height: 0;
  font-size: 11px;
}

/* footer */
.b-footer {
  font-size: 11px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.b-footer__text {
  color: #9e9e9e;
}

.footer_text-link {
  color: #9e9e9e;
}
.footer_text-link:hover {
  text-decoration: underline;
}

.b-footer-menu__item {
  display: inline-block;
  padding-right: 5px;
}

.b-footer-menu__link {
  color: #9e9e9e;
}
.b-footer-menu__link:hover {
  text-decoration: underline;
}

.b-social-box {
  position: relative;
  display: inline-block;
  margin-left: 8px;
}

.b-social-button {
  width: 32px;
  height: 30px;
}
.b-social-button:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url(../images/sprites.png) no-repeat;
  width: 30px;
  height: 30px;
}

.b-social-icon_rss:before {
  background-position: -109px -8px;
}

.b-social-icon_tw:before {
  background-position: -208px -8px;
}

.b-social-icon_fb:before {
  background-position: -158px -8px;
}

/* adaptive */
@media (max-width: 580px) {
  .b-page__wrapper_adaptive {
    margin: 20px auto 0 auto;
  }
}

@media (max-width: 704px) {
  .b-nav-button-adaptive {
    display: block;
  }
}

@media (max-width: 830px) {
  .b-nav-menu_adaptive {
    position: relative;
    text-align: center;
  }
}
@media (max-width: 704px) {
  .b-nav-menu_adaptive {
    display: none;
  }
}

@media (max-width: 830px) {
  .b-nav-menu__item_adaptive:nth-child(1) {
    position: absolute;
    width: 118px;
    top: -95%;
    left: 0;
  }
}
@media (max-width: 704px) {
  .b-nav-menu__item_adaptive:nth-child(1) {
    display: none;
  }
}

@media (max-width: 704px) {
  .b-nav-menu__item_adaptive {
    display: block;
    width: auto;
    text-align: left;
  }
}

@media (max-width: 830px) {
  .b-nav-menu__button_adaptive {
    border-right: 1px solid white;
    -moz-box-shadow: -1px 0 0 0 gainsboro, 1px 0 0 0 gainsboro;
    -webkit-box-shadow: -1px 0 0 0 gainsboro, 1px 0 0 0 gainsboro;
    box-shadow: -1px 0 0 0 gainsboro, 1px 0 0 0 gainsboro;
  }
}
@media (max-width: 704px) {
  .b-nav-menu__button_adaptive {
    font-size: 13px;
    line-height: 30px;
    padding-left: 20px;
    background: white;
    border: 1px solid white;
    -moz-box-shadow: 0 -1px 0 0 gainsboro;
    -webkit-box-shadow: 0 -1px 0 0 gainsboro;
    box-shadow: 0 -1px 0 0 gainsboro;
  }
}

@media (max-width: 704px) {
  .b-sub-nav-menu_adaptive {
    display: none;
  }
}

@media (max-width: 940px) {
  .b-slider__inner:before {
    display: none;
  }
}

@media (max-width: 940px) {
  .b-content_adaptive {
    text-align: center;
  }
}

@media (max-width: 704px) {
  .b-images-inner_adaptive {
    width: 30%;
  }
}

@media (max-width: 940px) {
  .b-footer_adaptive {
    padding: 0 20px;
  }
}
@media (max-width: 580px) {
  .b-footer_adaptive {
    display: block;
  }
}

@media (max-width: 580px) {
  .b-social-box_adaptive {
    margin: 20px 8px 0 0;
  }
}
