.b-row-g__inner
	.b-row-f__title-box
		h2.b-title.b-uppercase.
			CLEAN IDEA AND UNIQUE DESIGN
		h3.b-sub-title.b-uppercase.
			Service
	
	//columns
	.b-row-a__col-box.b-flex-section.b-flex-between
		.b-col_
			.b-col__title-box
				.b-col__title Responsive Design	
			
		.b-col.b-col_center
			.b-col__icon-box.b-col__icon-box_center
				.b-icon.b-icon_row-a.b-icon_center.ion-ios-world-outline
			.b-col__title-box.b-col__title-box_center
				.b-col__title Awesome Features
			.b-col__text-box
				.b-col__text.b-text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.
				
		.b-col
			.b-col__icon-box
				.b-icon.b-icon_row-a.ion-lock-combination
			.b-col__title-box
				.b-col__title Powerful Security