.b-row-c__inner
	.b-row-c__logo-box
		.b-logo-image
			img.b-logo__img(alt="Marvel" src="images/b-row-c/logo.png")

	.b-row-c__title-box
		h2.b-title.b-uppercase.b-title_row-c.
			Who we are

	.b-row-c__text-box
		.b-text.b-text_row-c.
			Lorem ipsum dolor sit amet, consectetuer ux adipiscing elit, sed diam nonummy nibh and euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.

	.b-row-c__button-box.b-flex-section.b-flex-center
		a.b-button.b-button_hover.b-button_flex.b-button_row-c(href="#" target="_blank").
			More info
		a.b-button.b-button_hover.b-button_flex.b-button_row-c(href="#" target="_blank").
			Join Expreance