.b-row-f__inner
	.b-row-f__title-box_position.b-flex-section.b-flex-end
		.b-flex-fix-ffx-wrapper
			.b-row-f__title-box
				h2.b-title.b-uppercase.
					CLEAN IDEA AND UNIQUE DESIGN
				h3.b-sub-title.b-uppercase.
					Service
	
	.b-row-f__content-container
		//row 1
		.b-content-row.b-flex-section.b-flex-end
			.b-flex-fix-ffx-wrapper.b-content-row__container.b-content-row__container_border-right
				.b-content-row__container_inner
					.b-content-row__icon-box
						.b-icon.b-icon_row-f.ion-ios-gear-outline
					.b-content-row__title-box
						h3.b-subject.b-uppercase.
							Excellent Features
							
					.b-content-row__text-box.b-content-row__text-box_first-row
						p.b-text.
							Lorem ipsum doloar sit amet meconstur adipiscing.

			.b-flex-fix-ffx-wrapper.b-content-row__container
				.b-content-row__container_inner
					.b-content-row__icon-box
						.b-icon.b-icon_row-f.ion-ios-camera-outline
					.b-content-row__title-box
						h3.b-subject.b-uppercase.
							Simple & Clean
							
					.b-content-row__text-box.b-content-row__text-box_first-row
						p.b-text.
							Lorem ipsum doloar sit amet meconstur adipiscing.
					
		//row 2		
		.b-content-row.b-flex-section.b-flex-end
			.b-flex-fix-ffx-wrapper.b-content-row__container.b-content-row__container_border-right.b-content-row__container_border-top
				.b-content-row__container_inner.b-content-row__container_position
					.b-content-row__icon-box
						.b-icon.b-icon_row-f.ion-ios-briefcase-outline
					.b-content-row__title-box
						h3.b-subject.b-uppercase.
							Parallax Effect

					.b-content-row__text-box
						p.b-text.
							Lorem ipsum doloar sit amet meconstur adipiscing.

			.b-flex-fix-ffx-wrapper.b-content-row__container.b-content-row__container_border-top
				.b-content-row__container_inner.b-content-row__container_position
					.b-content-row__icon-box
						.b-icon.b-icon_row-f.ion-ios-bell-outline
					.b-content-row__title-box
						h3.b-subject.b-uppercase.
							24/7 Support
							
					.b-content-row__text-box
						p.b-text.
							Lorem ipsum doloar sit amet meconstur adipiscing.