.b-row-d__inner
	.b-row-d__title-box
		h2.b-title.b-uppercase.
			We're Creative Crafting With Love
		h3.b-sub-title.b-uppercase.
			Features

	.b-row-d__list-box
		ul.b-col-list.b-flex-section
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-a-lock
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						Powerful Security
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
						
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-ios-lightbulb
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						Creative Ideas
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
						
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-ios-gear-outline
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						Powerfull Admin Panel
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
			
			//column 2
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-a-microphone
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						High Resolution Theme
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
						
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-ios-glasses
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						Awesome Interface
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
						
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-ios-paperplane
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						Ultimate Website Builder
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
						
			//column 3
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-a-laptop
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						Responsive Theme
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
						
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-ios-bell-outline
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						CUSTOM CONTENT BLOCKS
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.
						
			li.b-col-list__item.b-col-list__item_flex.b-col-list__item_icon.ion-ios-camera-outline
				.b-col-list__subject-box
					h3.b-subject.b-uppercase.
						TRENDY DESIGN
						
				.b-col-list__text-box
					p.b-text.
						Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.