.b-row-b__inner
	.b-row-b__title-box
		h2.b-title.b-uppercase.b-title_row-b.
			Boost Your Website
		h3.b-sub-title.b-uppercase.b-sub-title_row-b.
			Responsive
	
	.b-row-b__text-box
		.b-text
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etia fermentum 
			p vel libero eget interdum semper libero.
			
	.b-row-b__list-box
		ul.b-list.b-text
			li.b-list__item.
				Responsive Design & Retina Ready.
				
			li.b-list__item.
				Business Solution Any Company.
				
			li.b-list__item.
				Powerful Admin Panel.
				
			li.b-list__item.
				24/7 Support.
				
	.b-row-b__button-box
		a.b-button.b-button_bg.b-button_bg_hover.b-uppercase.b-button_row-b(href="#" target="_blank").
			Purchase