.b-content
	.b-caption-holder.b-content__menu
		.b-menu
			button.b-menu__button.b-caption.js-mix-filter(data-filter="all") Все
			span.b-menu__separator  . 
			button.b-menu__button.b-caption.js-mix-filter(data-filter=".js-mix-category-1") Адаптивное
			span.b-menu__separator  . 
			button.b-menu__button.b-caption.js-mix-filter(data-filter=".js-mix-category-2") Сданные проекты
			span.b-menu__separator  . 
			button.b-menu__button.b-caption.js-mix-filter(data-filter=".js-mix-category-3") Верстка из Free PSD
			
	//images wrapper		
	.b-content__images-box
		.b-images-wrap.b-images-wrap_adaptive

			.b-images-inner.b-images-inner_adaptive.js-mix-target.js-mix-category-1.js-mix-category-2
				.b-content-title ЦОК "Ладья"
				.b-content-img-wrap
					img.b-content-img-wrap__img(alt="Ладья" src="images/b-content/cok-ladya.png")
					.b-content-overlay-caption
						p Wordpress
						p Адаптив
				.b-content-info-wrap
					.b-content-info.b-content-info_lower
						a.b-content-info__link.b-button-main__hover(href='https://cok-ladya.ru/' target="_blank") Перейти
			

			.b-images-inner.b-images-inner_adaptive.js-mix-target.js-mix-category-1.js-mix-category-3
				.b-content-title Whitesquare
				.b-content-img-wrap
					img.b-content-img-wrap__img(alt="Whitesquare" src="images/b-content/whitesquare.png")
					.b-content-overlay-caption
						p Адаптив
				.b-content-info-wrap
					.b-content-info.b-content-info_lower
						a.b-content-info__link.b-button-main__hover(href='https://desteel.github.io/pages/whitesquare/' target="_blank") Перейти
							
			.b-images-inner.b-images-inner_adaptive.js-mix-target.js-mix-category-3
				.b-content-title Darkside
				.b-content-img-wrap
					img.b-content-img-wrap__img(alt="Darkside" src="images/b-content/darkside.png")
					.b-content-overlay-caption
						p Резина
						p jQuery
				.b-content-info-wrap
					.b-content-info.b-content-info_lower
						a.b-content-info__link.b-button-main__hover(href='https://desteel.github.io/pages/darkside/' target="_blank") Перейти

			.b-images-inner.b-images-inner_adaptive.js-mix-target.js-mix-category-1.js-mix-category-3
				.b-content-title Dynamic
				.b-content-img-wrap
					img.b-content-img-wrap__img(alt="Dynamic" src="images/b-content/dynamic.png")
					.b-content-overlay-caption
						p BEM
						p Адаптив
						p jQuery
				.b-content-info-wrap
					.b-content-info.b-content-info_lower
						a.b-content-info__link.b-button-main__hover(href='https://desteel.github.io/pages/dynamic/page/' target="_blank") Перейти
		
//infoblock
.b-hidden-box-wrap.js-block
	.b-hidden-box.b-hidden-box_position.js-block__extended
		.b-hidden-box__inner.b-info-link_size
			//decor
			.b-hidden-box-decor.b-hidden-box-decor_a
			.b-hidden-box-decor.b-hidden-box-decor_b
			.b-hidden-box-decor.b-hidden-box-decor_c
			.b-hidden-box-decor.b-hidden-box-decor_d
			//decor end
			
			.b-block-close.js-block-close
				svg(width="20" height="20" viewBox="0 0 1024 1024")
					use(xlink:href="#i-close-svg")

			.b-hidden-box__text
				p.b-text Приветствую, меня зовут Александр и я молодой (в обоих смыслах) верстальщик, видящий себя в перспективе фронтенд-разработчиком. Перешел в веб-разработку с целью сменить сферу деятельности, начав с верстки и основ PHP. Выяснив, что мне интересен фронтенд, занялся изучением HTML5 и CSS3, JS (на данный момент на уровне использования jQuery). Некое руководство к действию - #[a.b-info-link.b-info-link_text-block(href='http://webmasters.teamdev.com/' target="_blank") webmasters.teamdev.com].
				
				p.b-text Использую:				
				ul.b-text-list.b-text
					li.b-text-list__item HTML5, CSS3
					li.b-text-list__item Jade (PUG), SCSS+Compass
					li.b-text-list__item jQuery
					li.b-text-list__item Git (GitHub)
					
				p.b-text Верстаю адаптивно, знаком с BEM (на данный момент можно посмотреть на странице #[a.b-info-link.b-info-link_text-block(href='https://desteel.github.io/pages/dynamic/page/' target="_blank") Dynamic]), присутствуют базовые знания PHP и MySQL.
				
				p.b-text Сверстанные страницы в портфолио расположены по возрастанию, от более ранних к поздним.
				p.b-text Исходники страниц на #[a.b-info-link.b-info-link_text-block(href='https://github.com/Desteel/Desteel.github.io/tree/master/pages' target="_blank") GitHub].