.b-header.b-header_adaptive.clearfix
	.b-header__inner.b-header__inner_title.b-header__inner_adaptive 
		h1.b-header-title Портфолио
	
	.b-header__inner.b-header__inner_information.b-header__inner_adaptive
		ul.b-info-inner
			li.b-info__item.b-info_adaptive.js-container
				a.b-info-link.b-info-link_size.js-container__button(href="#") Контакты
				
				ul.b-sub-info-inner.b-sub-info-inner_position.b-sub-info-inner_hidden.js-container__extended
					li.b-sub-info-inner__item
						a.b-info-link.b-info-link_size.b-info-link_form(href="mailto:alexdests@yandex.ru")
							.b-info-link__hover Почта
							.b-info-link__hover alexdests@ya.ru
					li.b-sub-info-inner__item
						a.b-info-link.b-info-link_size.b-info-link_form(href="callto:alphary")
							.b-info-link__hover Скайп
							.b-info-link__hover alphary							
				
			li.b-info__item.js-block
				a.b-info-link.b-info-link_size.js-hidden-button(href="#") Обо мне