.b-content-svg
	//SVG code
	svg(width="0" height="0")
		defs
			symbol#i-close-svg
				path(d="M45.374,1.331 L23.208,23.497 L44.988,45.246 L44.320,45.999 L22.498,24.207 L1.374,45.331 L0.626,44.668 L21.791,23.502 L0.012,1.753 L0.680,1.000 L22.502,22.792 L44.626,0.668 L45.374,1.331 Z")
	//SVG code end