//lib
script(src="js/lib/jquery-3.2.1.min.js")

//custom
script(src="js/custom/js-scripts-block.js")

//ajax
script(src="js/ajax/ajax-form.js")

//plugins
script(src="js/plugins/inputmask/inputmask.min.js")
script(src="js/plugins/inputmask/jquery.inputmask.min.js")

//settings
script(src="js/inputmask-settings.js")



