$main-font-family: Montserrat-Regular, Helvetica, sans-serif;
$title-font-family: Montserrat-Bold, Helvetica, sans-serif;
$sub-title-font-family: Montserrat-Black, Helvetica, sans-serif;
$second-font-family: Montserrat-Light, Helvetica, sans-serif;
$text-font-family: Muli-Regular, Helvetica, sans-serif;
$sub-text-font-family: Lato-Regular, Helvetica, sans-serif;


//color back 
$back-color: rgb(255,255,255);


//color text
$main-text: rgb(68, 68, 68);


//back
$page-background_color: $back-color;


//text
$main-text_color: $main-text;

