doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title SVG
		
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(href="css/main.css" rel="stylesheet")
		
	body.b-page
		include svg.pug
	
		include test.pug