.b-content-svg
	//SVG code
	svg(width="0" height="0")
		defs
		
			//svg ic1
			include ic1
			//svg ic1 END
			
			//svg ic2
			include ic2		
			//svg ic2 END
				
			//svg ic3
			include ic3			
			//svg ic3 END
			
			//svg ic4
			include ic4			
			//svg ic4 END
			
			//svg ic5
			include ic5
			//svg ic5 END
			
			//svg ic6
			include ic6			
			//svg ic6 END
			
			
			
	//SVG code end
