.b-container
	.b-container__box
		//ic1
		svg
			use(xlink:href="#i-hand-svg")
			
			
	.b-container__box
		//ic2
		svg
			use(xlink:href="#i-kadastr-svg")
			
			
	.b-container__box
		//ic3
		svg
			use(xlink:href="#i-bag-svg")
			
.b-container
	.b-container__box
		//ic4
		svg
			use(xlink:href="#i-pages-svg")
			
	.b-container__box
		//ic5
		svg
			use(xlink:href="#i-hand-paper-svg")
			
	.b-container__box
		//ic6
		svg
			use(xlink:href="#i-mans-svg")