/* custom */
.a-delay {
	animation-delay: 1.2s;
}

.a-duration {
	transition-duration: 1s;
}

.a-duration_fast {
	transition-duration: 0.6s;
}

/* animations */
/* slide .js-target_slide */
.a-slide_left {
  opacity: 0;
  transform: translate(-100px);
  transition: all 1s ease-out;
}

.a-slide_right {
  opacity: 0;
  transform: translate(100px);
  transition: all 1s ease-out;
}

.a-slide_down {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.a-slide_up {
  opacity: 0;
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.a-slide_active {
  opacity: 1;
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
}

/* scale .js-target_scale */
.a-scale {
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.a-scale_active {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* keyframes animations */
.a-rotate_default {
  -moz-animation-name: rotateDefault;
  -webkit-animation-name: rotateDefault;
  animation-name: rotateDefault;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.a-rotate_default:hover {
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* fade .js-target_fade */
.a-fade:before {
  -moz-animation-name: fade;
  -webkit-animation-name: fade;
  animation-name: fade;
  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

/* swing .js-target_swing */
.a-swing {
  -moz-transform-origin: top center 50%;
  -ms-transform-origin: top center 50%;
  -webkit-transform-origin: top center 50%;
  transform-origin: top center 50%;
  -moz-animation-name: swing;
  -webkit-animation-name: swing;
  animation-name: swing;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* swing .js-target_rotateInDownLeft */
.a-rotateInDownLeft {
  -moz-animation-name: rotateInDownLeft;
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

/* pulse */
.a-pulse_default {
	-moz-animation-name: pulseDefault;
	-webkit-animation-name: pulseDefault;
	animation-name: pulseDefault;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* keyframes */
@-moz-keyframes rotateDefault {
  from {
    -moz-transform-origin: center 50%;
    transform-origin: center 50%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center 50%;
    transform-origin: center 50%;
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateDefault {
  from {
    -webkit-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: center 50%;
    transform-origin: center 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateDefault {
  from {
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -webkit-transform-origin: center 50%;
    transform-origin: center 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -webkit-transform-origin: center 50%;
    transform-origin: center 50%;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes swing {
  20% {
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -moz-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -moz-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -moz-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -moz-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-moz-keyframes rotateInDownLeft {
  from {
    -moz-transform-origin: left bottom 50%;
    transform-origin: left bottom 50%;
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    -moz-transform-origin: left bottom 50%;
    transform-origin: left bottom 50%;
    -moz-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes rotateInDownLeft {
  from {
    -webkit-transform-origin: left bottom 50%;
    transform-origin: left bottom 50%;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom 50%;
    transform-origin: left bottom 50%;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateInDownLeft {
  from {
    -moz-transform-origin: left bottom 50%;
    -ms-transform-origin: left bottom 50%;
    -webkit-transform-origin: left bottom 50%;
    transform-origin: left bottom 50%;
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    -moz-transform-origin: left bottom 50%;
    -ms-transform-origin: left bottom 50%;
    -webkit-transform-origin: left bottom 50%;
    transform-origin: left bottom 50%;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-moz-keyframes pulseDefault {
  from {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
    transform: scale(1);
  }
  50%{
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
  }
  to {
    -moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pulseDefault {
  from {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
    transform: scale(1);
  }
  50%{
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
  }
  to {
    -moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulseDefault {
  from {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
    transform: scale(1);
  }
  50%{
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
  }
  to {
    -moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
    transform: scale(1);
  }
}
