//font
$main-font-family: pt-sans, Helvetica, sans-serif;
$second-font-family: pt-sans-bold, Helvetica, sans-serif;

//color background
$back-color: rgb(252,252,252);

//background
$page-background_color: $back-color;

//color text
$main-text: rgb(26, 26, 24);
$light-text: rgb(255, 255, 255);

//text
$main-text_color: $main-text;
$light-text_color: $light-text;

.b-content-svg {
	display: none;
}