/* errors */
.js-input-error {	
	@include box-shadow(inset 0px 0px 5.75px 1.25px rgba(170, 44, 44, 1), 0px 0px 5.75px 1.25px rgba(170, 44, 44, 1));
}


/* load */
.b-form-load {
	@include animation(load 1s infinite linear);	
}


/* animation */
@include keyframes(load) {
	0% {
		color: transparent;
	}
	50% {
		color: inherit;
	}
	100% {
		color: transparent;
	}
 }