script(defer src="js/lib/jquery-3.2.1.min.js")
		
script(defer src="js/plugins/fittext/jquery.fittext.js")
script(defer src="js/fittext-setting.js")

script(defer src="js/plugins/mixitup/mixitup.min.js")
script(defer src="js/mixitup-setting.js")

script(defer src="js/plugins/slick/slick.js")
script(defer src="js/slick-setting.js")