.b-holder-trans.b-content.b-shadow.b-content_adaptive
	.b-caption-holder.b-content__menu
		.b-menu.b-caption
			button.b-menu__button.b-caption.js-mix-filter(data-filter="all") All
			|  . 
			button.b-menu__button.b-caption.js-mix-filter(data-filter=".js-mix-category-1") Graphic design
			|  . 
			button.b-menu__button.b-caption.js-mix-filter(data-filter=".js-mix-category-2") Illustration
			|  . 
			button.b-menu__button.b-caption.js-mix-filter(data-filter=".js-mix-category-3") WEB design
			|  . 
			button.b-menu__button.b-caption.js-mix-filter(data-filter=".js-mix-category-4") Animation
				
	//images wrapper		
	.b-content__images-box.b-section-inner
		.b-images-wrap.js-content-filter
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-1
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_1.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-1
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_2.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-4
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_3.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-3
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_4.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-3
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_5.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-2
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_6.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-4
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_7.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
			.b-images-inner.b-images-inner_adaptive.js-block-info.js-mix-target.js-mix-category-1
				img.b-content-img.js-img-opacity(alt="Изображение" src="images/b-content/content-img_8.png")
				.b-content-info.js-text-fade
					a.b-content-info__link(href='#') View details
					
					