.b-holder-trans.b-news
	.b-caption-holder.b-news__title-box
		h1.b-caption.b-news-title RECENT NEWS FROM THE BLOG
		
	.b-news__text-box.b-section-inner
		.b-text-wrap
			.b-text-content.js-slider-static__side
				.b-text-content__item
					h2.b-text-content__title UT SAGITTI’S ULTRICES URNA EGET
					p.b-text-content__subtitle Posted on Sep 5 by blugraphic.com
					p.b-text-content__section.
						Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla. Cras...
					.b-text-content__button-container
						a.b-news-button.b-button-main.b-button-main__hover(href='#') Continue Reading..
						
				.b-text-content__item
					h2.b-text-content__title UT SAGITTI’S ULTRICES URNA EGET
					p.b-text-content__subtitle Posted on Sep 5 by blugraphic.com
					p.b-text-content__section.
						Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla. Cras...
					.b-text-content__button-container
						a.b-news-button.b-button-main.b-button-main__hover(href='#') Continue Reading..
						
				.b-text-content__item
					h2.b-text-content__title UT SAGITTI’S ULTRICES URNA EGET
					p.b-text-content__subtitle Posted on Sep 5 by blugraphic.com
					p.b-text-content__section.
						Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla. Cras...
					.b-text-content__button-container
						a.b-news-button.b-button-main.b-button-main__hover(href='#') Continue Reading..
						
				.b-text-content__item
					h2.b-text-content__title UT SAGITTI’S ULTRICES URNA EGET
					p.b-text-content__subtitle Posted on Sep 5 by blugraphic.com
					p.b-text-content__section.
						Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla. Cras...
					.b-text-content__button-container
						a.b-news-button.b-button-main.b-button-main__hover(href='#') Continue Reading..
						
				.b-text-content__item
					h2.b-text-content__title UT SAGITTI’S ULTRICES URNA EGET
					p.b-text-content__subtitle Posted on Sep 5 by blugraphic.com
					p.b-text-content__section.
						Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla. Cras...
					.b-text-content__button-container
						a.b-news-button.b-button-main.b-button-main__hover(href='#') Continue Reading..
						
				.b-text-content__item
					h2.b-text-content__title UT SAGITTI’S ULTRICES URNA EGET
					p.b-text-content__subtitle Posted on Sep 5 by blugraphic.com
					p.b-text-content__section.
						Sed tempor lectus in risus. Nullam vestibulum, odio ac pulvinar condimentum, urna neque aliquet ipsum, in blandit velit nunc eget mauris. Suspendisse aliquet sem ut nulla. Cras...
					.b-text-content__button-container
						a.b-news-button.b-button-main.b-button-main__hover(href='#') Continue Reading..